# Octra
OCTRA_PRIVATE_KEY=YOUR_BASE64_PRIVATE_KEY

# Ethereum
ETH_PRIVATE_KEY=0xYOUR_PRIVATE_KEY

# Recipient
BRIDGE_EVM_RECIPIENT=0xYOUR_ADDRESS

# Optional RPC
ETH_RPC=https://ethereum-rpc.publicnode.com
OCTRA_RPC=https://octrascan.io/rpc
